.epoch.heatmap-epoch-colors text { fill: #555555 }

.epoch .category1  .bucket, .epoch.heatmap5 .category1  .bucket { fill: #7EB26D; }
.epoch .category2  .bucket, .epoch.heatmap5 .category2  .bucket { fill: #EAB839; }
.epoch .category3  .bucket, .epoch.heatmap5 .category3  .bucket { fill: #6ED0E0; }
.epoch .category4  .bucket, .epoch.heatmap5 .category4  .bucket { fill: #EF843C; }
.epoch .category5  .bucket, .epoch.heatmap5 .category5  .bucket { fill: #E24D42; }
.epoch .category6  .bucket, .epoch.heatmap5 .category6  .bucket { fill: #1F78C1; }
.epoch .category7  .bucket, .epoch.heatmap5 .category7  .bucket { fill: #BA43A9; }
.epoch .category8  .bucket, .epoch.heatmap5 .category8  .bucket { fill: #705DA0; }
.epoch .category9  .bucket, .epoch.heatmap5 .category9  .bucket { fill: #508642; }
.epoch .category10 .bucket, .epoch.heatmap5 .category10 .bucket { fill: #CCA300; }
.epoch .category11 .bucket, .epoch.heatmap5 .category11 .bucket { fill: #447EBC; }
.epoch .category12 .bucket, .epoch.heatmap5 .category12 .bucket { fill: #C15C17; }
.epoch .category13 .bucket, .epoch.heatmap5 .category13 .bucket { fill: #890F02; }
.epoch .category14 .bucket, .epoch.heatmap5 .category14 .bucket { fill: #0A437C; }
.epoch .category15 .bucket, .epoch.heatmap5 .category15 .bucket { fill: #6D1F62; }
.epoch .category16 .bucket, .epoch.heatmap5 .category16 .bucket { fill: #584477; }
.epoch .category17 .bucket, .epoch.heatmap5 .category17 .bucket { fill: #B7DBAB; }
.epoch .category18 .bucket, .epoch.heatmap5 .category18 .bucket { fill: #F4D598; }
.epoch .category19 .bucket, .epoch.heatmap5 .category19 .bucket { fill: #70DBED; }
.epoch .category20 .bucket, .epoch.heatmap5 .category20 .bucket { fill: #F9BA8F; }
.epoch .category21 .bucket, .epoch.heatmap5 .category21 .bucket { fill: #F29191; }
.epoch .category22 .bucket, .epoch.heatmap5 .category22 .bucket { fill: #82B5D8; }
.epoch .category23 .bucket, .epoch.heatmap5 .category23 .bucket { fill: #E5A8E2; }
.epoch .category24 .bucket, .epoch.heatmap5 .category24 .bucket { fill: #AEA2E0; }
.epoch .category25 .bucket, .epoch.heatmap5 .category25 .bucket { fill: #629E51; }
.epoch .category26 .bucket, .epoch.heatmap5 .category26 .bucket { fill: #E5AC0E; }
.epoch .category27 .bucket, .epoch.heatmap5 .category27 .bucket { fill: #64B0C8; }
.epoch .category28 .bucket, .epoch.heatmap5 .category28 .bucket { fill: #E0752D; }
.epoch .category29 .bucket, .epoch.heatmap5 .category29 .bucket { fill: #BF1B00; }
.epoch .category30 .bucket, .epoch.heatmap5 .category30 .bucket { fill: #0A50A1; }
.epoch .category31 .bucket, .epoch.heatmap5 .category31 .bucket { fill: #962D82; }
.epoch .category32 .bucket, .epoch.heatmap5 .category32 .bucket { fill: #614D93; }
.epoch .category33 .bucket, .epoch.heatmap5 .category33 .bucket { fill: #9AC48A; }
.epoch .category34 .bucket, .epoch.heatmap5 .category34 .bucket { fill: #F2C96D; }
.epoch .category35 .bucket, .epoch.heatmap5 .category35 .bucket { fill: #65C5DB; }
.epoch .category36 .bucket, .epoch.heatmap5 .category36 .bucket { fill: #F9934E; }
.epoch .category37 .bucket, .epoch.heatmap5 .category37 .bucket { fill: #EA6460; }
.epoch .category38 .bucket, .epoch.heatmap5 .category38 .bucket { fill: #5195CE; }
.epoch .category39 .bucket, .epoch.heatmap5 .category39 .bucket { fill: #D683CE; }
.epoch .category40 .bucket, .epoch.heatmap5 .category40 .bucket { fill: #806EB7; }
.epoch .category41 .bucket, .epoch.heatmap5 .category41 .bucket { fill: #3F6833; }
.epoch .category42 .bucket, .epoch.heatmap5 .category42 .bucket { fill: #967302; }
.epoch .category43 .bucket, .epoch.heatmap5 .category43 .bucket { fill: #2F575E; }
.epoch .category44 .bucket, .epoch.heatmap5 .category44 .bucket { fill: #99440A; }
.epoch .category45 .bucket, .epoch.heatmap5 .category45 .bucket { fill: #58140C; }
.epoch .category46 .bucket, .epoch.heatmap5 .category46 .bucket { fill: #052B51; }
.epoch .category47 .bucket, .epoch.heatmap5 .category47 .bucket { fill: #511749; }
.epoch .category48 .bucket, .epoch.heatmap5 .category48 .bucket { fill: #3F2B5B; }
.epoch .category49 .bucket, .epoch.heatmap5 .category49 .bucket { fill: #E0F9D7; }
.epoch .category50 .bucket, .epoch.heatmap5 .category50 .bucket { fill: #FCEACA; }
.epoch .category51 .bucket, .epoch.heatmap5 .category51 .bucket { fill: #CFFAFF; }
.epoch .category52 .bucket, .epoch.heatmap5 .category52 .bucket { fill: #F9E2D2; }
.epoch .category53 .bucket, .epoch.heatmap5 .category53 .bucket { fill: #FCE2DE; }
.epoch .category54 .bucket, .epoch.heatmap5 .category54 .bucket { fill: #BADFF4; }
.epoch .category55 .bucket, .epoch.heatmap5 .category55 .bucket { fill: #F9D9F9; }
.epoch .category56 .bucket, .epoch.heatmap5 .category56 .bucket { fill: #DEDAF7; }
