<div class="editor-row">
	<div class="section gf-form-group">
		<h5 class="section-heading">Heatmap</h5>
		<div class="gf-form-inline">
			<div class="gf-form">
				<label class="gf-form-label width-10">Window Size</label>
				<input type="number" class="gf-form-input width-5" placeholder="auto" data-placement="right" ng-model="ctrl.panel.heatmapOptions.windowSize" ng-model-onblur>
			</div>
		</div>
		<div class="gf-form-inline">
			<div class="gf-form">
				<label class="gf-form-label width-10">Buckets</label>
				<input type="number" class="gf-form-input width-5" placeholder="auto" data-placement="right" ng-model="ctrl.panel.heatmapOptions.buckets" ng-model-onblur>
			</div>
		</div>
		<div class="gf-form-inline">
			<div class="gf-form">
				<label class="gf-form-label width-10">Bucket Lower</label>
				<input type="number" class="gf-form-input width-5" placeholder="auto" data-placement="right" ng-model="ctrl.panel.heatmapOptions.bucketRange[0]" ng-model-onblur>
			</div>
			<div class="gf-form">
				<label class="gf-form-label width-10">Bucket Upper</label>
				<input type="number" class="gf-form-input width-5" placeholder="auto" data-placement="right" ng-model="ctrl.panel.heatmapOptions.bucketRange[1]" ng-model-onblur>
			</div>
		</div>
	</div>
</div>
